header {
  background-color: black;
  /* position: fixed; */
  /* flex-flow: nowrap; */
}

#Logo-Container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space space-between;
  background-color: darkblue;
}

/* #Button-Container{
  display: flex;
  flex-flow: row nowrap;
} */
#Logo {
  color: white;
  font-family: "Pacifico", cursive;
}
#Give-Me-A-Drink {
  background-color: #615f5f;
  color: white;
  font-family: "Roboto", sans-serif;

  flex-flow: column;
  justify-content: space space-between;
}
#Give-Me-Advice {
  background-color: #615f5f;
  color: white;
  font-family: "Roboto", sans-serif;

  flex-flow: column;
  justify-content: space space-between;
}
#Search-Cocktails {
  background-color: #615f5f;

  flex-flow: column;
  justify-content: space space-between;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

#Intro-Container {
  background-color: black;
}

#Intro {
  color: white;
  font-family: "Merriweather", serif;
}

#Recipe-Card-Container {
  background-color: black;
}

#Cocktail-Name {
  background-color: white;
}

#Recipe-Card-Ingredients {
  background-color: rgb(238, 198, 198);
}

#Recipe-Card-Instructions {
  background-color: rgb(143, 125, 125);
}

#Cocktail-Image {
  display: flex;
}

body {
  background-color: #606c38;
}

/* 
link fonts y
font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;

create header fixed color black 
create Logo element pacifico white 
sit nav in header for 3 buttons each gray with white font 615F5F

create individual button elements 3

use flexbox for header 

Page background color green 606C38

create intro element <h1></h1> white merriweather

Create black recipe card element 

create sample card 
 1.cocktail
 2. ingredients 
 3. Recipe
 4.image 

create black advice card element white merriweather

create black footer 
create name element inside the div 

add git hub image 
link github account in github image
add email element 
link to email form if possible 

media query  */
